<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322359519946-o8mk2703c336skc9bg76pq8o6vb9m2h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322359519946-o8mk2703c336skc9bg76pq8o6vb9m2h5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPiijpU_UwR3c3mGYK4h09KfvwRMnGn4A</string>
	<key>GCM_SENDER_ID</key>
	<string>322359519946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafizramiz.onlineChat</string>
	<key>PROJECT_ID</key>
	<string>onlinechat-21970</string>
	<key>STORAGE_BUCKET</key>
	<string>onlinechat-21970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322359519946:ios:b76ff7cf6526845bc2e233</string>
</dict>
</plist>